@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display:flex;
    flex-direction: column;
    min-height: 1800px;
    min-width: 1600px;
}

/* header customization*/

header{
    display:flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Roboto', sans-serif;
    height:70px;  
    background-color:black;
    color:#E5E7EB; 
}
.header-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 1000px;
}
.header-container p {
    font-size: 24px;
    font-weight: bold;
}

.header-container ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.header-container a,.introduction p{
    font-size:18px;
    color:#E5E7EB;
}

/*main customization*/

main{
    display:flex;
    flex-direction: column;
    flex:auto;     
}

/* introduction customization*/

.introduction{   
    flex:1 415px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:black;
    color:#E5E7EB;
}
.introduction-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-basis:1100px;
    margin-left: 100px;  
}
.introduction-container .introduction-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:540px;   
    gap:10px;
}
.introduction-container .introduction-header h1{
    color:#F9FAF8;  
    font-size: 48px;
    font-weight: bold;
    margin-bottom:10px;
}
.introduction-container .introduction-header p{
    margin-bottom:10px;
}
.introduction-container .introduction-header button{
    align-self: flex-start;
    border:1px solid #3882F6;
    border-radius: 5px;
    padding:5px 20px;
    color:white;
    background-color: #3882F6;
}
.introduction-container .introduction-image img{
    width:450px;
    height: 300px;   
}

/*information customizaion*/

.information{
    flex:1 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px;
}
.information-header h2{
    font-size:36px;
    font-weight: bold;
}
.information-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:1200px;
    gap:30px;
    padding:10px;
    background-color:white;
}
.information .information-container .image-container{
    width:240px;
    height:240px;
}
.information .information-container .image-container img{
    height: 150px;
    width: 240px;
    border-radius: 14px;
    border:2px solid black;
    margin-bottom: 10px;
}

/*quote customization*/

.quote{
    flex:1 415px;
    display:flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #E5E7EB;  
}
.quote-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:900px;
    font-size: 34px;
    font-weight:10;
}
.quote .quote-container .author{
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold; 
}

/*sign-up customization*/

.sign-up
{
    flex:1 415px;
    display:flex;
    align-items: center; 
    justify-content: center;
    background-color: white;
}
.sign-up-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:900px;
    height:100px;
    border-radius: 5px;
    padding:70px 80px;
    gap:60px;
    background-color: #3882F6;
    color:white;
}
.sign-up .sign-up-container .sign-up-text p{
    font-size: 18px;
    padding:2px;
}

.sign-up .sign-up-container .sign-up-text .sign-up-text-header{
    font-weight: bold;
}

.sign-up-button button{
    border: 2px solid white;
    border-radius: 5px;
    padding:5px 20px;
    color:white;
    background-color: #3882F6
}

/*footer customization*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height:70px;
    color:white;
    background-color: black; 
}